<!DOCTYPE html>
<html>
<body style="background-color: #292929;
             font-family: Roboto Mono, monospace;
             padding: 10px 20px;
            ">
  <h1 style="color: #e2b714;">400 Bad request</h1>
  <div style="color: #ddd;
              font-size: 1.25em;
             ">Try using a websocket instead</div>
  <code style="display: block;
               font-family: Consolas, monospace;
               margin: 8px 0;
               padding: 0.5em;
               width: fit-content;
               background-color: #2b2d31;
               color: #ddd;
               border: 1px solid #1e1f22;
               border-radius: 4px;
              ">
        let webSocket = new WebSocket("807843.xyz");</code>
</body>
</html>
