<!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/prism.min.js"></script>
  <style type="text/css">
    .token.keyword{color:#CC7832; font-weight:bold;}
	.token.string{color:#6A8759;}
	.token.function{color:#FFC66D;}
  </style>
</head>

<body style="background-color: #2b2b2b;
             font-family: Roboto Mono, monospace;
             padding: 10px 20px;
            ">
  <h1 style="color: #e2b714;">400 Bad request</h1>
  <div style="color: #ddd;
              font-size: 1.25em;
             ">Try using a websocket instead</div>
  <pre><code class="language-javascript"
             style="display: block;
                    font-family: Consolas, monospace;
                    margin: 8px 0;
                    padding: 0 1em;
                    width: fit-content;
                    background-color: #2b2d31;
                    color: #ddd;
                    border: 1px solid #1e1f22;
                    border-radius: 4px;
                    ">
let webSocket = new WebSocket("wss://807843.xyz");
  webSocket.onopen = function() {
  console.log("Connected to websocket!");
};

webSocket.onmessage = function(event) {
  const message = event.data;
  console.log("Received message: " + message);
};

function send(msg) {
  if (webSocket.readyState === WebSocket.OPEN) {
    webSocket.send(msg);
  }
}
  </code></pre>
</body>
</html>
